<h1><%= current_client.first_name %>'s Profile</h1>
<%= link_to "Inspections", client_inspections_path %><br>
<%= link_to "Schedule an Inspection", new_client_inspection_path %><br>
<%= link_to "Edit Information", edit_client_registration_path %>