

<div class="container-fluid">
  <ul class="list-group">
    <% @inspections.each do |inspection| %>
      <a class="btn btn-primary btn-lg btn-block" href="<%= client_inspection_path(inspection) %>"><%= inspection.address %></a>
    <% end %>
  </ul>
</div>
